* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body {
	padding: 0px !important;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
	color: #000;
	font-family: 'bpreplayregular', sans-serif;
	font-size: 14px;
	background: #e8eeff;;
	line-height: 1.5;
}
html {
	min-height: 100%;
	position: relative;
}
/************************************** short codes ************************************/

ul {
	margin: 0;
	padding: 0;
	list-style: none
}
a, button {
	display: inline-block;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline-style: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline-style: none;
}
i {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
h1 {
	font-size: 40px;
	color: #fff;
	padding-bottom: 10px;
	margin: 0;
	font-family: 'bpreplaybold';
}
h2 {
	font-size: 28px;
	margin: 0px;
	font-family: 'bpreplaybold', sans-serif;
}
h3 {
	font-size: 24px;
	padding-bottom: 0px;
	margin: 0;
	font-family: 'bpreplaybold', sans-serif;
}
h4 {
	font-size: 20px;
	padding: 0px;
	font-family: 'bpreplaybold', sans-serif;
	margin: 0;
}
h5 {
	font-size: 18px;
	padding-bottom: 0;
	font-family: 'bpreplaybold', sans-serif;
}
h6 {
	font-size: 16px;
	padding: 0;
	font-family: 'bpreplaybold', sans-serif;
}
strong {
	font-family: 'bpreplaybold';
	font-weight: normal;
}
label {
	display: inline-block;
	font-weight: 100;
	width: auto;
	font-family: 'bpreplayregular';
	/*text-transform: capitalize;*/
	font-size: 14px;
	color: #333;
	line-height: normal;
}
.upperCase {
	text-transform: uppercase !important
}
.tshadow {
	text-shadow: 2px 7px 4px rgba(0, 0, 0, 0.5)
}
section {
	width: 100%;
	float: left;
	position: relative;
}
.relative {
	position: relative
}
.absolute {
	position: absolute
}
.full, .imgContainer {
	float: left;
	width: 100%;
}
.imgContainer img {
	width: 100%;
}
.autowidthL {
	width: auto;
	float: left;
}
.autowidthR {
	width: auto;
	float: right;
}
.formiddle {
	float: none;
	margin: 0 auto
}
.halfw {
	width: 50%;
}
.fordisplay {
	display: block;
}
.forHide {
	display: none;
}
.dTable {
	display: table;
	width: 100%;
}
.dcell {
	display: table-cell;
	vertical-align: middle;
}
.dis_I_block {
	display: inline-block;
	float: none !important;
}
.bordr {
	border: #ededed 1px solid;
}
.noborder {
	border: none !important
}
.noborderTop {
	border-top: none !important
}
.noborderB0ttom {
	border-bottom: none !important
}
.noborderleft {
	border-left: none !important
}
.noborderRight {
	border-right: none !important
}
.radius5 {
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.radius3 {
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.topRadius5 {
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.radius30 {
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
.fullradius {
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.o_hidden {
	overflow: hidden;
}
.p10 {
	padding: 10px;
}
.p20 {
	padding: 20px;
}
.p30 {
	padding: 30px;
}
.p15 {
	padding: 15px;
}
.p3020 {
	padding: 30px 20px;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-t-40 {
	padding-top: 40px;
}
.p-t-50 {
	padding-top: 50px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-30 {
	padding-bottom: 30px;
}
.p-b-40 {
	padding-bottom: 40px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-v-10 {
	padding: 10px 0;
}
.p-v-15 {
	padding: 15px 0;
}
.p-v-20 {
	padding: 20px 0;
}
.p-v-30 {
	padding: 30px 0;
}
.p-v-40 {
	padding: 40px 0;
}
.p-v-50 {
	padding: 50px 0;
}
.p-v-4020 {
	padding: 40px 0 20px;
}
.p-v-5025 {
	padding: 50px 0 25px;
}
.p-h-10 {
	padding: 0 10px;
}
.p-h-15 {
	padding: 0 15px;
}
.p-h-20 {
	padding: 0 20px;
}
.p-h-40 {
	padding: 0 40px;
}
.p_l_15 {
	padding-left: 15px;
}
.p_l_5 {
	padding-left: 5px;
}
.p-l-20 {
	padding-left: 20px;
}
.noppding {
	padding: 0 !important
}
.noRightpadding {
	padding-right: 0em !important
}
.noLeftpadding {
	padding-left: 0em !important
}
.noTopPadding {
	padding-top: 0em !important
}
.nobtmPadding {
	padding-bottom: 0em !important;
}
.m_l_30 {
	margin-left: 30px;
}
.m_l_10 {
	margin-left: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m_l_50 {
	margin-left: 50px;
}
.m_t_25 {
	margin-top: 25px;
}
.m_t_35 {
	margin-top: 35px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m_t_15 {
	margin-top: 15px;
}
.m-t-5 {
	margin-top: 5px;
}
.m-t-8 {
	margin-top: 8px;
}
.m-b-40 {
	margin-bottom: 40px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-30 {
	margin-bottom: 30px !important;
}
.m-b-40 {
	margin-bottom: 40px !important;
}
.m-b-50 {
	margin-bottom: 50px !important;
}
.m-b-5 {
	margin-bottom: 5px !important;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-v-10 {
	margin: 10px 0;
}
.m-v-15 {
	margin: 15px 0;
}
.m-v-20 {
	margin: 20px 0;
}
.m-v-30 {
	margin: 30px 0;
}
.m-v-40 {
	margin: 40px 0;
}
.m-v-50 {
	margin: 50px 0;
}
.m-v-60 {
	margin: 60px 0;
}
.m-v-70 {
	margin: 70px 0;
}
.m-v-100 {
	margin: 100px 0;
}
.m-v-150-80 {
	margin: 150px 0 80px;
}
.m-t-300 {
	margin-top: 300px;
}
.m-v-150-00 {
	margin: 150px 0 0px;
}
.m-r-10 {
	margin-right: 10px;
}
.m-v-5 {
	margin: 5px 0;
}
.noMargin {
	margin: 0px !important
}
.noTop-margin {
	margin-top: 0px !important
}
.noBottom-margin {
	margin-bottom: 0px !important
}
.noLeft-margin {
	margin-left: 0px !important
}
.noRight-margin {
	margin-right: 0px !important
}
.gap60 {
	height: 60px
}
.gap25 {
	height: 25px
}
.gap100 {
	height: 100px
}
.gap160 {
	height: 160px
}
.darkbg {
	background: #6562b0;
	color: #fff;
}
.nobg {
	background: none !important
}
.lightbg {
	background: #f5f5f5;
}
.lightbg2 {
	background: #eee;
}
.whitebg {
	background: #fff;
}
.f-red {
	color: #f76767 !important;
}
.textBox {
	background: none;
	color: #333;
	font-size: 14px;
	display: block;
	height: 30px;
	padding: 0 15px;
	border: none;
	width: 100%;
	float: left;
	border-radius: 0;
	box-shadow: none;
	border-bottom: #CBCBCB 1px solid;
}
.textBox.selecttext {
	background: url(../images/arrow3.png) right 3px center no-repeat !important;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 0 25px 0 12px;
	-moz-background-size: contain !important;
	-ms-background-size: contain !important;
	-webkit-background-size: contain !important;
	-o-background-size: contain !important;
	background-size: contain !important;
}
 .textBox.selecttext:select {
 border: none;
}
.selecttext option {
	background: #fff;
	padding: 5px 12px;
	border-bottom: #ddd 1px solid;
	text-transform: inherit;
	color: #333;
}
 select::-ms-expand {
 display: none;
}
.textBox.txtaea {
	height: 80px !important;
	resize: none !important;
	padding: 10px 15px;
	line-height: normal;
	box-shadow: none;
	border: #ddd 1px solid !important;
	margin: 10px 0 0;
}
.textBox.txtaea.medTextArea {
	height: 60px !important;
	font-size: 13px !important;
}
.ofcnotes .textBox.txtaea {
	height: 250px !important;
	margin-bottom: 15px;
}
 .textBox::-webkit-input-placeholder {
 color: #333;
 opacity: 1;
}
 .textBox:-moz-placeholder {
 color: #333;
 opacity: 1;
}
 .textBox::-moz-placeholder {
 color: #333;
 opacity: 1;
}
 .textBox:-ms-input-placeholder {
 color: #333;
 opacity: 1;
}
.commonBtn {
	border: #4169E1 2px solid;
	color: #4169E1;
	border-radius: 30px;
	padding: 10px 30px;
	font-family: 'bpreplaybold';
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.commonBtn:hover {
	background: #4169E1;
	color: #fff;
}
.bCover {
	background-attachment: fixed !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.bCover2 {
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
/*********************************** short codes ***************************************/

.menu-responsive {
	display: none;
}
header {
	width: 100%;
	top: -60px;
	left: 0;
	z-index: 99;
	background: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	
	float:left;
}

.topHeader {
	background:#4a7ebb;
	padding: 5px 0;
	}
.btmHeader {
	background:#fff;
	border-bottom:#4a7ebb 5px solid;
	}	
.btmHeader.sticky {
	position: fixed;
	left: 0;
	top: 0;
	z-index:99999999;
}
.logo {
  float: left;
  position: relative;
  width: 340px;
  padding:0 15px;
}
.logo a {
	display: block;
}
.logo img {
	width: 100%;
}

.navArea {
    float: left;
    padding:0 15px;
    width: calc(100% - 510px);
}
.navAreaInner {
  float: right;
  max-width: 500px;
  width: 100%;
  
}
.navAreaInnerBox {
  border-bottom: 1px solid #5f8dc3;
}
.navAreaInnerBox:last-child {
  border:none;
}
.navAreaInnerBox ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navAreaInnerBox ul li {
    position: relative;
}
.navAreaInnerBox ul li a::after {
  background: #4169e1 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transition: all 0.3s ease-in-out 0s;
  width: 0;
}

.navAreaInnerBox ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 2px;
  position: relative;
  text-transform: uppercase;
  font-family:"Century Gothic",sans-serif;
}


.hdrBtnArea ul li {
  margin: 3px 0;
}
.hdrBtnArea ul li a {
  background: #4a7ebb;
  border-bottom: 2px solid #2c5e93;
  border-radius: 20px;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 0;
  text-align: center;
}

.hdrBtnArea ul li a:hover {
	background:#4169e1;
	}


.hdrBtnArea {
  float: left;
  width: 170px;
  padding:0 15px;
}

.mailPhone ul li {
	float:left;
	width:auto;
	margin-right:15px;
	color:#fff;
	}
.mailPhone ul li a, .logPerson ul li a {
  color: #fff;
  font-weight: 600;
  line-height: 24px;
}	
.logPerson ul li {
	float:left;
	width:auto;
	margin-left:15px;
	color:#fff;
	}
	
.srcArea {
  width: 250px;
}

.input1 {
  border: 1px solid #fff;
  height: 24px;
  padding: 0 10px;
  width: 100%;
}	

.srcArea button {
	position:absolute;
	background-color:transparent;
	right:0;
	top:0;
	height:24px;
	width:24px;
	line-height:24px;
	text-align:center;
	border:none;
	}
.m-l-20 {
	margin-left:20px;
	}

.topNav {
	float: left;
	width: 100%;
	margin-bottom: 0;
	margin-top: 10px;
}
.topNav ul {
	float: right;
	width: auto;
}
.topNav ul li {
	float: left;
	margin-left: 10px;
	position: relative;
}
.topNav ul li {
	padding-left: 54px;
}
.topNav ul li h6 {
	font-size: 14px;
	font-family: 'bpreplaybold';
	color: #fff;
	margin: 12px 0 0;
}
.topNav ul li h5 {
	font-size: 14px;
	color: #fff;
	font-family: 'bpreplayregular';
	font-weight: bold;
}
.topNav ul li .mailIcon {
	position: absolute;
	left: 0;
	top: 0;
}
/*.navigation {
	display: flex;
	flex: 1;
}*/
.btmNav {
	/* float: left; */
	width: 100%;
	/* padding-right: 70px; */
	position: relative;
	padding-bottom: 5px;
	padding-top: 10px;
	display: flex;
}
.logBtn {
	font-size: 14px;
	font-family: 'bpreplaybold';
	display: flex;
	padding-left:10px;
}
.dropDown.logBtn {
	padding-right: 10px;
}
.logBtn a {
	color: #000;
}
.searchBtn {
	position: absolute;
	right: 40px;
	bottom: 0;
	/*margin: 50px 100px;
  display: inline-block;
  position: relative;*/
	height: 60px;
	/*float: right;*/
	padding: 0;/*position: relative;*/
}
.searchBtn input[type="text"] {
	height: 46px;
	font-size: 16px;
	display: inline-block;
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 0 40px 0 10px;
	width: 0px;
	position: absolute;
	top: 27px;
	right: 0;
	background: none;
	z-index: 3;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
	line-height: 46px;
}
.searchBtn input[type="text"]:focus:hover {
	border-bottom: 1px solid #BBB;
}
.searchBtn input[type="text"]:focus {
	width: 700px;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}
.searchBtn input[type="submit"] {
	height: 24px;
	width: 24px;
	display: inline-block;
	color: red;
	float: right;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 2;
	cursor: pointer;
	/*opacity: 0.4;*/
	cursor: pointer;
	transition: opacity .4s ease;
	background-size: contain;
	filter: brightness(0.25);
}
.searchBtn input[type="submit"]:hover {
	opacity: 0.8;
}
.btmNav ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.btmNav ul li {
	position: relative;
}
.btmNav ul li::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 14px;
	background: #fff;
	right: 0;
	bottom: 3px;
}
.btmNav ul li:last-child:after {
	display: none;
}
.btmNav ul li {
	flex: 1 0 auto;
	text-align: center;
}
.btmNav ul li a {
	font-family: 'bpreplaybold';
	color: #fff;
	display: block;
	font-size: 13px;
	text-transform: uppercase;
}
.btmNav ul li a .fa-caret-down {
	color: #fff;
	margin-left: 5px;
}
.btmNav ul li.active a, .btmNav ul li a:hover {
	color: #fff;
}
.btmNav ul li.active ul li a, .btmNav ul li:hover ul li a {
	color: #333 !important;
}
nav ul li ul.submenu {
	position: absolute;
	left: 0;
	top: calc(100% + 40px);
	width: 250px;
	padding: 5px 10px;
	background: rgba(255, 255, 255, 0.98);
	z-index: 9;
	-webkit-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: block;
}
nav ul li ul.submenu li {
	width: 100%;
	float: left;
	border: none;
}
nav ul li ul.submenu li a {
	font-size: 14px;
	line-height: normal;
	text-transform: capitalize;
	padding: 10px 10px;
	display: block;
	border-bottom: #ddd 1px solid;
	color: #666;
	text-align: left;
}
nav ul li ul.submenu li a:hover, nav ul li ul.submenu li a:focus, nav ul li ul.submenu li.active a, nav ul li.active ul.submenu li.active a,  nav ul li.active ul.submenu li a {
	color: #333 !important;
	box-shadow: none;
}
nav ul li:hover ul.submenu {
	opacity: 1;
	visibility: visible;
	top: calc(100% + 5px);
}
.btmNav .dDown li a:hover {
	color: #4169e1 !important;
}




.social ul li {
	float: left;
	width: auto;
	margin: 0px 5px 0px 0px;
	padding: 0px !important;
}
.social ul li:last-child {
	margin-right: 0;
}
.social ul li a {
	height: 26px;
	width: 26px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-size: 12px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.social ul li.facebook a {
	background: #314987;
	box-shadow: #273c72 0px 2px 0px 0px;
	-moz-box-shadow: #273c72 0px 2px 0px 0px;
	-webkit-box-shadow: #273c72 0px 2px 0px 0px;
}
.social ul li.twitter a {
	background: #55c9ff;
	-moz-box-shadow: #008dce 0px 2px 0px 0px;
	-webkit-box-shadow: #008dce 0px 2px 0px 0px;
}
.social ul li.google-plus a {
	background: #f63e28;
	-moz-box-shadow: #bc2918 0px 2px 0px 0px;
	-webkit-box-shadow: #bc2918 0px 2px 0px 0px;
}
.social ul li.rss a {
	background: #fd7704;
	-moz-box-shadow: #ca6006 0px 2px 0px 0px;
	-webkit-box-shadow: #ca6006 0px 2px 0px 0px;
}
.social ul li.linkedin a {
	background: #036ec0;
	-moz-box-shadow: #015798 0px 2px 0px 0px;
	-webkit-box-shadow: #015798 0px 2px 0px 0px;
}
.social ul li.instagram a {
	background: #0B79B8;
	-moz-box-shadow: #006f9f 0px 2px 0px 0px;
	-webkit-box-shadow: #006f9f 0px 2px 0px 0px;
}















.homeBanner {
	min-height: 300px;
	-moz-background-size: auto auto !important;
	-webkit-background-size: auto auto !important;
	background-size: auto auto !important;
	background-attachment: fixed !important;
	position: relative;
}
.homeBannInner {
	margin: 0 auto;
	display: table;
	width: 100%;
	max-width: 1350px;
	paddin: 15px 0;/*position: absolute;
	top: calc(50% + 50px );
	-moz-transform: translate(-50% , -50%);
	-webkit-transform: translate(-50% , -50%);
	transform: translate(-50% , -50%);
	left: 50%;*/
}
.slogan, .banImg {
	width: 50%;
	vertical-align: middle;
	padding: 0 15px;
}
.slogan h2 {
	font-size: 38px;
	color: #204169;
	font-family: 'bpreplaybold';
}
.slogan p {
	font-size: 16px;
	margin: 20px 0 15px;
	color: #204169;
	font-family: 'bpreplayregular';
}
.slogan a {
	border: #4169e1 1px solid;
	padding: 10px 38px;
	border-radius: 30px;
	font-size: 14px;
	color: #4169e1;
	font-family: 'bpreplaybold';
}
.fourGridInner {
	margin: 15px 0;
}
.fourGridInnerBtm h3 {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'bpreplaybold';
	padding-bottom: 15px;
}
.fourGridInnerBtm p {
	color: #fff;
	font-size: 14px;
	font-family: 'bpreplayregular';
}
.fourGridInnerBtm a {
	background: rgba(255, 255, 255, .2);
	color: #fff;
	padding: 6px 15px;
	border-radius: 6px;
	margin-top: 15px;
}
.fourGridInnerBtm {
	padding: 0 20px 20px 20px;
}
.fourGridInnerBtm a:hover {
	background: rgba(0, 0, 0, .3);
}
.redBg {
	background: #ff0114;
}
.greenBg {
	/*background:#4169e1;*/
	background: #E8EEFF;
}
.perpleBg {
	background: #8e47ac;
}
.blueBg {
	background: #009fe3;
}
.someWordsInner {
	padding: 0 15px;
}
.someWordsLeft {
	width: 35%;
	vertical-align: middle;
}
.someWordsRight {
	width: 65%;
	vertical-align: middle;
}
.someWordsRight h4 {
	color: #4169e1;
	font-size: 23px;
	text-transform: uppercase;
}
.someWordsRight h2 {
	color: #333;
	font-size: 31px;
	margin: 10px 0 14px;
	text-transform: uppercase;
}
.someWordsRight p {
	line-height: 1.8;
	color: #666;
	padding: 0 10px;
}
.someWordsRight a {
	border: #4169E1 2px solid;
	color: #4169E1;
	border-radius: 30px;
	padding: 10px 30px;
	margin-top: 30px;
	font-family: 'bpreplaybold';
}
.someWordsRight a:hover {
	background: #4169E1;
	color: #fff;
}
.main {
	background: #fff;
}
.main h2, .main h3, .main h4, .main h5, .main h6 {
	font-family: 'bpreplaybold';
	font-weight: normal;
}
.main p {
	font-family: 'bpreplayregular';
}
.p-h-60 {
	padding: 0 60px;
}
.locationContact {
	background: #ffbe0c;
	padding: 20px 0;
}

.locConInner {
	padding-left: 55px;
}
.locConInner span.iconBox {
	position: absolute;
	left: 0;
	top: -5px;
	color: #fff;
	font-size: 49px;
	line-height: normal;
	width: 43px;
	display: inline-block;
}
.locConInner span.iconBox {
	position: absolute;
	left: 0;
	top: -5px;
	color: #fff;
	font-size: 49px;
	line-height: normal;
	width: 43px;
	display: inline-block;
	text-align: center;
}
.locConInner h4 {
	color: #333;
	font-size: 18px;
	margin-bottom: 4px;
	font-weight: normal;
}
.locConInner p, .timeHour ul li {
	color: #333;
}
.footerBoxInner {
	float: left;
	width: 100%;
}
.InstagramFeed.row {
	margin: 0 -6px;
}
.InstagramFeed ul li {
	float: left;
	padding: 0 6px;
	width: 33.333%;
	margin-bottom: 12px;
}
.InstagramFeed ul li a {
	display: block;
}
.InstagramFeed ul li a img {
	width: 100%;
	display: block;
}
.InstagramFeed ul li a:hover {
	opacity: .7;
}
.clear {
	clear: both;
}
/*footer {
	background:#00071c;
	-moz-background-size: auto;
	-webkit-background-size: auto;
	background-size: auto;
	padding: 35px 0 10px;
	color: #767676;
	font-size: 14px;
}*/
/* url(../images/footerBg.png) #00071c left top repeat*/
footer {
	background: #000;
	-moz-background-size: auto;
	-webkit-background-size: auto;
	background-size: auto;
	padding: 20px 0 0;
	color: #767676;
	font-size: 14px;
}
footer h4 {
	margin-bottom: 15px;
	color: #fff;
	font-size: 18px;
}
.mousePointer {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 45px;
	color: #4169e1;
}
.nlMailInp {
	height: 40px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0 55px 0 15px;
}
.footerBoxInner ul li {
	display: block;
	margin-bottom: 8px;
}
.footerBoxInner ul li a {
	color: #767676;
}
.footerBoxInner ul li a:hover {
	color: #fff;
	padding-left: 15px;
}
.menu-responsive {
	display: none;
}
.footerBox {
	margin-bottom: 20px;
}
.colorBox .fourGridInnerBtm {
	position: relative;
	z-index: 1;
	padding: 0
}
.colorBox .fourGridInnerBtm:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
	background: -moz-linear-gradient(-45deg, rgba(6, 63, 118, 0.45) 0%, rgba(248, 1, 22, 0.45) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(6, 63, 118, 0.45) 0%, rgba(248, 1, 22, 0.45) 100%);
	background: linear-gradient(135deg, rgba(6, 63, 118, 0.45) 0%, rgba(248, 1, 22, 0.45) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c063f76', endColorstr='#8cf80116', GradientType=1);
}
.colorBox .fourGridInnerBtm h3 {
	padding: 35px 15px;
	color: #fff;
	text-shadow: 2px 7px 4px rgba(0, 0, 0, 0.5)
}
.borderimg1 {
	border: 10px solid transparent;
	padding: 15px;
	border-image: url(../images/border.png) 20% round;
}
.paralax1 {
	-moz-background-size: auto auto !important;
	-webkit-background-size: auto auto !important;
	background-size: auto auto !important;
	background-attachment: fixed !important;
	position: relative;
	z-index: 1;
}
.someWords.paralax1::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	/*background: rgba(255, 255, 255, 0.4);*/
	content: "";
	height: 100%;
	z-index: -1;
}
.part4 .fourGridInner {
	padding: 0 15px;
	position: relative;
	z-index: 1;
}
/*.part4 .fourGridInner:after {
	position:absolute; left:0; top:0; width:100%; height:100%; content:""; z-index:-1; background:rgba(4,63,121,0.9);}*/

.overlayImage {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
	background: url(../images/home/New%20folder/1.jpg) no-repeat;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	-webkit-background-size: cover !important;
	opacity: 0.7;
	background-size: cover !important;
}
.part4 .fourGridInnerBtm {
	padding: 35px 15px;
	position: relative;
	z-index: 3;
}
.part4 .fourGridInnerBtm h3, .part4 .fourGridInnerBtm p {
	color: #fff;
	padding: 0;
	text-shadow: 2px 7px 4px rgba(0, 0, 0, 0.5)
}
/*.lineScale:after{
	content:"";
	background:rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:50px;
	height:100%;
	margin:auto;
	border-radius:50%;
	-moz-transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  opacity:0;
  visibility:hidden;
	}*/

.lineScale:hover:after {
	width: 100%;
	height: 100%;
	border-radius: 0;
	opacity: 1;
	visibility: visible;
}
.lineScale .thumbLink::before {
	border-bottom: 1px solid rgba(255, 255, 255, 0.9);
	border-top: 1px solid rgba(255, 255, 255, 0.9);
	bottom: 20px;
	content: "";
	left: 10px;
	position: absolute;
	right: 10px;
	top: 20px;
	-moz-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-moz-transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
	z-index: 1;
}
.lineScale .thumbLink::after {
	border-left: 1px solid rgba(255, 255, 255, 0.9);
	border-right: 1px solid rgba(255, 255, 255, 0.9);
	bottom: 10px;
	content: "";
	left: 20px;
	position: absolute;
	right: 20px;
	top: 10px;
	-moz-transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-moz-transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
	z-index: 1;
}
.lineScale:hover .thumbLink::before, .lineScale:hover .thumbLink::after {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*kritika*/

.headBread .breadcrumb {
	margin: 0;
	padding: 0;
	background: none;
}
.headBread .breadcrumb li {
	font-family: 'bpreplaybold_italic';
	font-size: 13px;
	color: #666;
}
.headBread .breadcrumb li a {
	color: #4169e1;
}
.aboutPic {
	width: 40%
}
.aboutText {
	width: calc(100% - 40%);
	padding: 0 20px 0 0;
}
.headiNgs h6 {
	font-family: 'bpreplayregular';
	font-size: 16px;
	margin-bottom: 5px;
}
.headiNgs h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.f-green {
	color: #4169E1 !important
}
.about {
	padding: 30px 0 320px;
}
.learning {
	position: relative;
	z-index: 1;
	text-align: center;
	color: #fff;
}
.learning h2 {
	margin: 0 0 15px;
}
.learning:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
	background: -moz-linear-gradient(-45deg, rgba(6, 63, 118, 0.55) 0%, rgba(248, 1, 22, 0.55) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(6, 63, 118, 0.55) 0%, rgba(248, 1, 22, 0.55) 100%);
	background: linear-gradient(135deg, rgba(6, 63, 118, 0.55) 0%, rgba(248, 1, 22, 0.55) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c063f76', endColorstr='#8cf80116', GradientType=1);
}
.p-v-100 {
	padding: 100px 0;
}
.infobox h4 {
	background: #4169e1;
	padding: 10px 20px;
	color: #fff;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.infobox ul {
	width: 100%;
	float: left;
	margin: 10px 0 0;
}
.infobox ul li {
	width: 100%;
	float: left;
	margin-bottom: 8px;
	font-family: 'bpreplayitalic';
}
.infobox ul li i {
	color: #4169e1;
	margin-right: 5px;
}
.infobox h6 {
	line-height: 1.5;
}
.teamPic {
	width: 200px;
	border: #ddd 10px solid;
}
.teamText {
	width: calc(100% - 200px);
	padding: 0 20px 0 20px;
	border: #ddd 2px dashed;
	border-left: none;
}
.teamText h3 {
	margin-bottom: 5px;
	color: #4169e1;
	text-transform: uppercase;
}
.teamText small {
	margin: 5px 0;
	display: block;
	font-size: 15px;
	font-family: 'bpreplaybold_italic';
	color: #666;
}
.wrapPix {
	width: 400px;
	padding-left: 20px;
	float: right;
	margin-bottom: 15px;
}
.innBanInner {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.innerBanner {
	z-index: 1;
	padding: 30px 0;
	background-size: cover !important;
	-moz-background-size: cover !important;
	-webkit-background-size: cover !important;
}
.innerBanner:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1
}
.innBanInner h2 {
	color: #fff;
	font-size: 40px;
	text-transform: capitalize;
}
.applyBtn {
	color: #fff !important;
	font-size: 18px;
	font-family: 'bpreplaybold';
	padding: 10px 50px 6px;
	background: rgb(65, 105, 225);
	background: -moz-linear-gradient(top, rgba(65, 105, 225, 1) 0%, rgba(94, 126, 224, 1) 50%, rgba(66, 69, 229, 1) 51%, rgba(33, 20, 224, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(65, 105, 225, 1) 0%, rgba(94, 126, 224, 1) 50%, rgba(66, 69, 229, 1) 51%, rgba(33, 20, 224, 1) 100%);
	background: linear-gradient(to bottom, rgba(65, 105, 225, 1) 0%, rgba(94, 126, 224, 1) 50%, rgba(66, 69, 229, 1) 51%, rgba(33, 20, 224, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4169e1', endColorstr='#2114e0', GradientType=0);
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: #1a40b2 2px solid;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: block;
}
.applyBtn:hover {
	background: rgb(33, 20, 224);
	background: -moz-linear-gradient(top, rgba(33, 20, 224, 1) 0%, rgba(66, 69, 229, 1) 49%, rgba(94, 126, 224, 1) 50%, rgba(65, 105, 225, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(33, 20, 224, 1) 0%, rgba(66, 69, 229, 1) 49%, rgba(94, 126, 224, 1) 50%, rgba(65, 105, 225, 1) 100%);
	background: linear-gradient(to bottom, rgba(33, 20, 224, 1) 0%, rgba(66, 69, 229, 1) 49%, rgba(94, 126, 224, 1) 50%, rgba(65, 105, 225, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2114e0', endColorstr='#4169e1', GradientType=0);
}
.videoGal {
	margin: 15px 0;
	text-align: center;
	background: #f2f2f2;
	border-bottom: #ccc 3px solid;
}
.videoGal iframe {
	height: 200px;
	display: block;
}
.videoGal h5 {
	padding: 10px 0;
}
.photo .imgContainer {
	margin: 15px 0;
}
.InstagramFeed iframe {
	width: 100%;
	height: 120px;
}
.locations {
	position: relative;
	padding-left: 35px;
}
.locations span.iconBox {
	position: absolute;
	left: 0;
	top: -3px;
	color: #fff;
	font-size: 30px;
	line-height: normal;
	width: 30px;
	display: inline-block;
	text-align: center;
}
.autowidthR.social {
	margin-top: 8px;
}
.summerCampVideo {
	background: #f2f2f2;
}
.modalVideo iframe {
	height: 440px;
}
.modal-header.customVid .close {
	margin-top: -21px;
}
.summerCampVideo .owl-theme .owl-nav [class*="owl-"] {
	font-size: 16px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 50px;
	height: 70px;
	font-size: 30px;
	line-height: 70px;
	margin: 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #000;
	cursor: pointer;
}
.summerCampVideo .owl-theme .owl-nav .owl-prev {
	left: 0;
}
.summerCampVideo .owl-theme .owl-nav .owl-next {
	right: 0;
}
.logBtn a {
	color: #fff;
}
.dropDown {
	cursor: pointer;
	right: 33px;
}
.btmNav.fa-caret-down {
	margin-left: 6px;
	color: #999;
	margin-right: 0;
}
.btmNav ul.dDown {
	position: absolute;
	right: 0;
	top: calc(100% + 10px);
	width: 180px;
	padding: 5px 0;
	-webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	z-index: 4;
	background: #fff;
	flex-direction: column;
	border: #eee 1px solid;
}
.btmNav .dDown:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	right: 25px;
	top: -10px;
	content: "";
}
.btmNav .dDown li {
	width: 100%;
	float: left;
	border-bottom: #ddd 1px dotted;
}
.btmNav .dDown li a {
	display: block;
	padding: 10px 10px;
	line-height: normal;
	color: #333;
	text-transform: capitalize;
	font-size: 13px;
	text-align: left;
	font-family: 'bpreplayregular';
}
.btmNav .dDown li a i {
	margin-right: 10px;
	color: #4169e1;
	font-size: 16px;
}
.btmNav ul.dDown li:last-child {
	border-bottom: none;
}
.tabMain .nav-tabs {
	border: none !important;
}
.tabMain .nav-tabs>li {
	width: 100%;
	float: left;
	margin-bottom: 4px;
}
.tabMain .nav-tabs>li>a {
	padding: 10px 15px;
	border: none !important;
	color: #333;
	background: #eee;
	display: block;
	border-radius: 0;
	font-family: 'bpreplaybold_italic';
	position: relative;
	font-size: 15px;
}
.tabMain .nav-tabs>li>a i {
	font-size: 18px;
}
.tabMain .nav-tabs>li>a::after {
	position: absolute;
	right: -20px;
	top: 0;
	content: "";
	width: 0;
	height: 0;
	top: -3px;
	border-style: solid;
	border-width: 24px 0 24px 20px;
	border-color: transparent transparent transparent #4169e1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.tabMain .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #4169e1;
	color: #fff;
	padding-left: 30px;
}
.tabMain .nav-tabs>li.active>a::after, .nav-tabs>li.active>a:hover::after, .nav-tabs>li.active>a:focus::after {
	opacity: 1;
	visibility: visible;
}
.photo .pagination li a {
	font-family: 'bpreplayregular';
	color: #666;
}
.photo .pagination li.active a {
	background: #4169e1;
	color: #fff;
	border-color: #4169e1;
}
.loader {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 9999;
	display: none;
	width: 100%;
	height: 100%;
}
.loader i {
	font-size: 80px;
	color: #4169e1;
	margin-top: 200px;
}
.fourGrid.colorBox img {
	border: #eee 5px solid;
	width: 100%;
	max-width: 230px;
	margin: 0 auto 15px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
.fourGrid.colorBox a {
	color: #4169e1;
}
.fourGrid.part4 img {
	border: #eee 5px solid;
	width: 100%;
	max-width: 230px;
	margin: 0 auto 15px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
.fourGrid.part4 a {
	color: #4169e1;
}
.paralax2 {
	position: relative;
	z-index: 1;
	padding: 70px 0;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.paralax2 h2 {
	font-size: 36px;
	margin: 15px 0;
}
.paralax2:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	content: "";
	background: -moz-linear-gradient(-45deg, rgba(6, 63, 118, 0.45) 0%, rgba(248, 1, 22, 0.45) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(6, 63, 118, 0.45) 0%, rgba(248, 1, 22, 0.45) 100%);
	background: linear-gradient(135deg, rgba(6, 63, 118, 0.45) 0%, rgba(248, 1, 22, 0.45) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c063f76', endColorstr='#8cf80116', GradientType=1);
}
.stPic {
	/*width: 200px;
	padding: 0 15px;*/
}
.stDtls {
	/*width: calc(100% - 200px);*/
	padding: 15px;
	color: #666;
	/*border-left: #4169e1 2px dashed*/
}
.staffs .whitebg {
	background: #fff;
	box-shadow: 0px 0px 5px 1px #DDDDDD;
	-webkit-box-shadow: 0px 0px 5px 1px #DDDDDD;
	-moz-box-shadow: 0px 0px 5px 1px #DDDDDD;
	-o-box-shadow: 0px 0px 5px 1px #DDDDDD;
}
.stDtls h4 {color:#000; margin-bottom:10px;}
.stDtls h4 small{color:#666; font-family: 'bpreplayregular'; padding-left:15px;}
.staffs i {
	color: #4169e1
}
.core ul {
	width: 100%;
	float: left;
}
.core ul li {
	width: 20%;
	float: left;
	padding: 0 15px;
}
.core .coreBox a {
	display: block;
	color: #333;
	text-align: center;
	font-size: 16px;
	font-family: 'bpreplaybold_italic';
}
.core .coreBox a img {
	border: #eee 5px solid;
	margin: 0 0 8px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.dFelx {
	display: flex;
	flex-direction: row;
}
.sliDrs {
	flex: 0 0 33.333%;
}
.sliDrs img {
	border: #fff 8px solid;
}
.sliDrs a {
	display: block;
}
.p-r-20 {
	padding-right: 20px;
}
.p-l-20 {
	padding-left: 20px;
}
.bullets li {
	width: auto;
	float: left;
	padding-right: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	color: #666;
	font-family: 'bpreplaybold_italic';
}
.bullets li i {
	color: #4169e1;
	margin-right: 5px;
	font-size: 18px;
}
.workshops h4 {
	color: #333;
	margin-bottom: 8px;
}
.birthdayParties .lightbg, .workshops .lightbg, .calender .lightbg {
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1)
}
.birthdayParties h4, .workshops h4 {
	color: #333;
	margin-bottom: 8px;
}
.birthdayParties p, .workshops p {
	color: #666;
}
.forms li {
	margin-bottom: 5px;
	color: #666;
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'bpreplaybold_italic';
}
.faqs h4 {
	font-size: 18px;
	margin: 10px 0 35px;
}
.faqs h5 {
	font-size: 20px;
}
.faqs .panelMain h4 {
	margin: 0;
}
.faqs .panel {
	background-color: transparent;
	box-shadow: none;
}
.faqs .panelMain h4 i {
	float: right;
}
.faqs .panel-heading {
	padding: 0;
	background-color: transparent;
}
.faqs .panelMain h4 a {
	display: block;
	font-size: 16px;
	font-family: 'bpreplaybold_italic';
	color: #333;
	padding: 10px 20px;
	/* border-bottom: #666 1px dashed; */
	background: #ddd;
}
.faqs .panelMain .panel {
	border-color: transparent;
	color: #666;
}
.faqs .panel-body {
	background: #f6f6f6;
	padding: 15px 20px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.faqs .panel-heading span {
	color: #4169e1;
	font-size: 20px;
	margin-right: 6px;
}
/*blog page*/

.blogBox {
	padding-bottom: 30px;
	border-bottom: #ddd 1px solid;
	margin-bottom: 15px;
	color: #666;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.blogs .blogBox h4 a {
	font-size: 16px;
	padding: 10px 0 0;
	font-family: 'bpreplayregular';
}
.bDetails .blogBox h4 a {
	font-size: 26px;
}
.blogBox h4 a {
	color: #293142;
	text-transform: capitalize;
	padding: 20px 0 10px;
}
.blogBox h4 a:hover {
	color: #4169e1;
}
.blogBox ul {
	width: 100%;
	float: left;
}
.blogBox ul li {
	width: auto;
	float: left;
	position: relative;
	padding: 0 25px 0 0;
	color: #666;
}
.blogBox ul li:after {
	position: absolute;
	width: 5px;
	height: 2px;
	content: "";
	top: 10px;
	right: 10px;
	background: #4169e1;
}
.blogBox ul li:last-child:after {
	width: 0px;
	height: 0px;
}
.blogBox ul li a {
	color: #4169e1;
}
.blogs .fixWidth-left {
	max-width: 100%;
}
.sidebar-category, .sidebar-category li {
	width: 100%;
	float: left;
}
.sidebar-category li a {
	display: block;
	color: #666;
	padding: 8px 0;
	border-bottom: #ddd 1px solid;
}
.sidebar-category li a span {
	display: inline-block;
	float: right;
	color: #4169e1;
}
.sidebar-category li a:hover {
	padding-left: 15px;
}
.postPic {
	width: 110px;
	padding-right: 10px;
}
.posts a {
	color: #293142;
}
.posts h6 {
	font-size: 14px;
	margin-bottom: 10px;
}
.posts span a {
	color: #999;
}
.posts .dTable {
	padding-bottom: 15px;
}
.posts a:hover {
	color: #4169e1;
}
.rMore2 {
	color: #4169e1 !important;
	font-family: 'bpreplaybold_italic';
}
.tags ul li {
	width: auto;
	float: left;
	padding: 0 10px 0 0;
	margin-bottom: 10px
}
.tags ul li a {
	display: block;
	padding: 2px 12px;
	font-size: 13px;
	color: #666;
	border: #ddd 1px solid;
}
.tags ul li a:hover {
	color: #fff;
	background: #4169e1;
	border-color: #4169e1;
}
.blogBox .lightBg2 {
	border-left: #4169e1 5px solid;
	color: #666;
	background: #eee;
}
.blogBox ul.blogilst {
	width: 100%;
	float: left;
}
.blogBox ul.blogilst li {
	width: 100%;
	float: left;
	position: relative;
	color: #666;
	padding: 5px 0;
}
.blogBox ul.blogilst li:after {
	width: 0;
	height: 0;
	background: none;
}
.blogBox ul.blogilst li i {
	margin-right: 10px;
	color: #4169e1;
}
.bDetails .blogBox {
	box-shadow: none;
}
.costomizeOne .pagination li.active a {
	background: #4169e1;
	color: #fff;
}
.programPic {
	width: 40%;
}
.leftS {
	width: 260px !important;
	float: left;
}
.rightS {
	width: calc(100% - 260px);
	float: right;
	padding-left: 30px;
}
.conenTs {
	width: 67%;
}
.coreBox .owl-prev {
	position: absolute;
	left: 0;
	top: 50%;
}
.coreBox .owl-next {
	position: absolute;
	right: 0;
	top: 50%;
}
.coreBox {
	position: relative;
}
.forLeftImg .visionArea img {
	float: left;
	width: 40%;
	padding-right: 20px;
	margin-bottom: 20px;
}
.programInner img {
	float: right;
	width: 40%;
	padding-left: 20px;
	margin-bottom: 20px;
}

.sliDrs.cusSlider {
	display:block;
	float:right;
	}
.conenTs.conenTsCus {
	width:auto;
	}
.sliDrs.cusSlider {
    display: block;
    float: right;
    width: 45%;
    padding-left: 20px;
	margin-bottom:20px;

}		
.prograMes .intro span { padding-right:20px}
.prograMes .intro span:last-child {padding-right:0; float:right;}
.prograMes .intro span.ui-state-default:last-child {padding-right: !important; float:inherit !important}

.prograMes .calendar span { padding-right:0;}

.prograMes .calendar .currentDateDisplay {
  height: 130px;
  width: 100%;
  color: #b12c2c;
  font-weight: 600;
}
.prograMes .calendar .currentDateDisplay > p {
  font-size: 2rem;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
}
.prograMes .calendar .ui-datepicker {
  display: inline-block;
  /*margin: auto;*/
  background-color: #eee;
  box-shadow:none;
  width:100%; float:left;
}
.prograMes .calendar .ui-datepicker .ui-datepicker-calendar {
  margin: auto;
  width: 100%;
  padding: 1rem;
}
.prograMes .calendar .ui-datepicker .ui-datepicker-calendar a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  border-color:#ddd;
}
.prograMes .calendar .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day {
  border-color: #2E4A72;
  border: 5px solid #2E4A72;
  color: #333;
}
.prograMes .calendar .ui-datepicker .ui-datepicker-calendar .ui-state-active {
  color: #4C246E;
}
.prograMes .calendar .ui-datepicker .ui-datepicker-header {
  padding: 1rem;
  color: #4C246E;
  font-size: 1.3rem;
  padding-bottom:0;
}
.prograMes .calendar .ui-datepicker .ui-datepicker-prev {
  float: left;
  line-height: 2.5rem;
}
.inspection .calendar .ui-datepicker .ui-datepicker-next {
  float: right;
  line-height: 2.5rem;
}
.inspection .calendar .ui-datepicker .ui-datepicker-year,
.inspection .calendar .ui-datepicker .ui-datepicker-month {
  line-height: 2.5rem;
}
.prograMes .calendar .ui-datepicker .ui-datepicker-month {
  margin-right: 1rem;
}
.prograMes .calendar .ui-datepicker td {
  font-family: 'Droid Sans', sans-serif;
}
.prograMes .calendar .ui-datepicker thead {
  color: #333;
}
.middlebox3 {width:100%; max-width:480px; margin:10px auto;}
.prograMes .ui-datepicker-title {
	font-size: 16px;
	position: relative;
	margin-top: -10px;
	color:#333;
}
.prograMes .ui-state-highlight, .inspection .ui-widget-content .ui-state-highlight, .inspection .ui-widget-header .ui-state-highlight {
	border: 1px solid #234C8E;
	background: #A1DDF2;
	color: #333;
}
.prograMes .ui-state-active, .prograMes .ui-widget-content .ui-state-active, .prograMes .ui-widget-header .ui-state-active, .prograMes a.ui-button:active, .prograMes .ui-button:active, .prograMes .ui-button.ui-state-active:hover {
	border: 1px solid #2E4A72;
	background: #4169e1;
	font-weight: normal;
	color: #ffffff !important;
}
.prograMes .ui-widget-header {
	border: 1px solid #dddddd;
	background: #fff;
	color: #333333;
	font-weight: bold;
}
.prograMes .ui-datepicker td span, .ui-datepicker td a {
	text-align: center;
}
.calendar h5 {margin-bottom:10px;}
.tableMain3 {margin-top:30px;}
.tableMain3 table{margin:0; border:#ddd 1px solid;}
.tableMain3 tr th h6 , .tableMain3 tr td h5 {display:inline-block; float:left;}
.tableMain3 thead tr th {background:#eafdc7; padding:10px 15px}
.tableMain3 tr td { padding:10px 15px !important; background:#f8f8f8; border:none;}
.tableMain3 tfoot tr td {font-size:18px; padding:10px 15px; border:none;}
.prograMes .intro .checkbox label {text-transform:inherit; }
.prograMes .intro label a {color:#4169e1; text-decoration:underline;}
.tour .fieldBox{margin:0 0 20px;}
.tour .lightbg{box-shadow: 0px 1px 5px 1px #DDDDDD;
-webkit-box-shadow: 0px 1px 5px 1px #DDDDDD;
-moz-box-shadow: 0px 1px 5px 1px #DDDDDD;
-o-box-shadow: 0px 1px 5px 1px #DDDDDD;}
.rgroup label {font-weight:normal; font-family: 'bpreplaybold_italic'; letter-spacing:1px;}
.rgroup ul {width:100%; float:left;}
.rgroup ul li{width:50%; float:left; padding:0 15px; margin-bottom:20px;}
.rgroup ul li .radio2 {border:#ddd 1px solid; background:#f1f1f1; padding:5px 12px;}
.tour .textBox.txtaea {
	height: 130px !important;
}

.righrSlider .sliDrs {
    float: right;
    margin: 0 0 20px 20px;
    width: 33.3333%;
}

.leftSlider .sliDrs {
    float: left;
    margin: 0 20px 20px 0;
    width: 33.3333%;
}


.sliDrs.sliDrsLeftPart {
	float:left;
	width:33.333%;
	margin-right:25px;
	}

.calendar .ui-datepicker {
	width:100%;
	}

.calendar  .ui-datepicker td span, .calendar .ui-datepicker td a {
  padding: 0.4em 0.2em;
  text-align:center;
}

.carrierBox {
	padding-bottom: 30px;
	border-bottom: #ddd 1px solid;
	margin-bottom: 15px;
	color: #666;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.carrierBox h5 {
	color:#000;
	}

.carrierBox h6 {
  color: #333;
  font-family: "bpreplayregular",sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px;
}
.carrierBox p {
	color:#333;
	}

/* contact */

.contact h3 {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 25px;
}
.contactBox {
    padding: 20px;
}
.noppding {
    padding: 0 !important;
}
.contactBox .borderB0ttom {
    padding-bottom: 15px;
}
.borderB0ttom {
    border-bottom: 1px dashed #ddd;
}
.contactBox h6 {
    font-family: 'montserratregular';
    font-size: 17px;
    margin-bottom: 4px;
}
.contactBox h6 i {
    color: #4169e1;
    font-size: 18px;
    margin-right: 10px;
}
.contactBox p {
    color: #000;
    font-size: 14px;
    line-height: 23px;
    margin: 9px 0 0;
    padding-left: 28px;
}
.contactBox a {
    color:#4169e1;
}

/* contact */
.p-v-150 {
	padding: 150px 0;
}
.userEmails:focus {border-bottom-color:red !important}
.red_alert , .validEmail {color:red !important}
.green_alert {color:green}
.green_alert:focus {border-bottom-color:green !important}
.error {
  color: red;
  float: left;
  width: 100%;
}
.onlyTxt h5 {margin-bottom:10px;}
.onlyTxt h5 i{margin-right:8px;}
.onlyTxt p {padding-left:30px}
.forLeftImg .visionArea.approach img {
	width: 280px;
	padding-bottom:8px;
}
.divide.footerBoxInner ul li {width:50%; float:left;}
.conenTs strong {color:#000;}
p{text-align:justify;}
.tesTiBox p{position:relative; font-family: 'bpreplayitalic'; font-size:14px; line-height:1.6; color:#666; margin-bottom:10px;}

.core p {text-align:center;}
.tesTiBox h5{ color: #333;}
.tesTiBox h5 small{ display:block; font-family: 'bpreplayregular'; margin-top:10px; color:#ddd;}

.tesTi .carousel-indicators {
	bottom:-4px;
	left: 100%;
	width: 15%;
	margin-left: -15%;
	background:#fff;
}
.tesTi .carousel-indicators li {background:#999;border-color: #999 ; -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;}
.tesTi .carousel-indicators .active {
	width: 40px;
	height:10px;
	margin: 0;
	background-color: #4169E1;
	border-color: #4169E1 ;
}
.tesTi {color:#fff;}
.tTxt {
	background-color: #5d5d5d;
	color: #fff;
	padding: 60px 15px;
	width: 250px;
	text-align: center;
	position: relative;
	z-index:1;
}
.tSlide {width:calc(100% - 250px); padding:15px 15px 15px 25px} 
.tTxt span {
	font-size: 65px;
	margin: 0 15px;
	color: #fff;
	position: absolute;
	left: -15px;
	top: -5px;
	opacity: 0.15;
	z-index:2;
}
.tTxt h3 {
	font-size: 24px;
	padding-bottom: 0px;
	margin: 0;
	font-family: 'bpreplaybold', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	/* text-transform: uppercase; */
}
.tTxt::after {
	position: ;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	content: "";
	z-index:-1;
}
.thankyou p {text-align:center;}
.enroll a {
  background: rgba(255, 255, 255, 1);
  border: 1px solid #2a4fbf;
  border-radius: 10px;
  color: #000;
  font-weight: 600;
  margin-left: 15px;
  padding: 4px 37px;
  position: relative;
  text-transform: uppercase;
  top: -5px;
}



.stepwizard-step p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row::before {
  background-color: #dedede;
  bottom: 0;
  content: " ";
  height: 3px;
  position: absolute;
  top: 23px;
  width: 100%;
}

.stepwizard-step {
  display: table-cell;
  position: relative;
  text-align: center;
  width: 33.333%;
}

.btn-circle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 22px;
  height: 50px;
  line-height: 36px;
  padding: 6px 0;
  text-align: center;
  width: 50px;
}


.parentsInfo .btn.disabled, .parentsInfo .btn[disabled], .parentsInfo fieldset[disabled] .btn {
  opacity: 1;
}
.parentsInfo .checkbox label::before {
  top: 1px;
}


