.main-header{
    background: rgba(0, 0, 0, 0.251);
    position: absolute;
    z-index: 2;
    &.white-header{
        background: #fff;
        position: relative;
        &.scroll-on{
            background: #fff; 
        }
        .login-area {
            .login-area-lft {
                .login-menu-wrap {
                    li {
                        a {
                            color: #7b7b7b;
                            &.reg-nav{
                                border-color: #7b7b7b;
                                &:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .user-after-login {
                        .user-profile{
                            background: #00a651;
                            border-color: #00a651;
                            color: #fff;
                            max-width: 103px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .user-signout{
                            color: #fff;
                            background: #ff6600;
                            border-color: #ff6600;
                        }
                    }
                }
            }
        }
        .side-menu-close {
            span {
                background: #7b7b7b;
            }
        }
    }
    .logo{
        flex: 0 0 320px;
        max-width: 320px;
        padding: 0 15px;
        a{
            display: block;
            img{
                transition: all .3s ease-in-out;
            }
        }
    }
    .login-area{
        flex: 0 0 auto;
        width: auto;
        // flex: 0 0 300px;
        // max-width: 300px;
        padding: 0 15px;
        .login-area-lft{
            flex: 0 0 auto;
            width: auto;
            .login-menu-wrap {
                li{
                    a{
                        color: #fff;
                        display: block;
                        font-size: 16px;
                        text-transform: capitalize;
                        i{
                            margin-right: 8px;
                        }
                        &.reg-nav{
                            border: 1px solid #fff;
                            line-height: 32px;
                            border-radius: 5px;
                            padding: 0 10px;
                            &:hover{
                                background: #fd5329;
                                border-color: #fd5329;
                            }
                        }
                    }
                    &:not(:last-child){
                        margin-right: 15px;
                    }
                }
            }
        }
        // .login-area-rgt{
        //     flex: 0 0 auto;
        //     width: auto;
        // }
    }
    .small-menu-area{
        flex: 0 0 40px;
        max-width: 40px;
    }
}
.start-header {
	opacity: 1;
	padding: 20px 0;
	transition : all 0.3s ease-out;
    box-shadow: 0 5px 10px 9px rgba(138, 155, 165, 0.8%);
    &.scroll-on{
        background: rgba(0, 0, 0, 0.55);
        box-shadow: 0 5px 10px 9px rgba(138, 155, 165, 0.15);
        padding: 15px 0;
        -webkit-transition : all 0.3s ease-out;
        transition : all 0.3s ease-out;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;
        // background: #fff;
        .logo{
            .logo-wrap{
                max-width: 93px;
            }
        }
    } 
}
.after-login-wrap {
    .after-login{
        cursor: pointer;
        .user-img{
            display: block;
            max-width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            overflow: hidden;
        }
        h5{
            color: #000;
            font-size: 13px;
            padding: 0 5px;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .after-login-icon{
            display: block;
            color: #000;
            font-size: 13px;
        }
    }
    .after-login-menu-wrap{
        position: absolute;
        right: 0;
        width: 100%;
        background: #fff;
        top: 150%;
        padding: 5px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        ul{
            li{
                a{
                    display: block;
                    color: #000;
                    font-size: 15px;
                    text-transform: capitalize;
                    padding: 5px;
                    font-weight: 500;
                    &:hover{
                        padding-left: 8px;
                    }
                }
            }
        }
    }
    &:hover{
        .after-login-menu-wrap{
            transition: all .2s ease-in-out;
            opacity: 1;
            visibility: visible;
            top: 120%;
        } 
    }
}

  
.side-menu-close {
    height: 40px;
    width: 40px;
    cursor: pointer;
    span {
        height: 2px;
        width: 20px;
        background: #fff;
        position: relative;
        opacity: 1;
        transition: .4s;
        &:nth-child(1){
            top: -5px;
        }
        &:nth-child(3){
            bottom: -5px;
        }
    }
    &.closed{
        span{
            &:nth-child(1){
                transform: translateY(7px) rotate(45deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }
}
.header-search-bar {
    // flex: 0 0 665px;
    // max-width: 665px;
    // padding: 4px;
    .header-search-bar-box{
        height: 40px;
        line-height: 38px;
        border: 1px solid #d0cfcf;
        border-radius: 5px;
        padding: 0;
        background: #fff;
        .search-bar-lft{
            flex: 1 0 0%;
            .header-src{
                .input-style-hdr{
                    padding-left: 40px;
                    border: none;
                    background: transparent;
                    height: 38px;
                    font-size: 15px;
                    color: #7b7b7b;
                    &::placeholder{
                        color: #7b7b7b;
                        font-size: 15px;
                    }
                }
                .hdr-src-icon{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    padding: 0 0 0 15px;
                    border: none;
                    background: transparent;
                    color: #7b7b7b;
                }
            }
        }
        .search-bar-rgt{
            flex: 0 0 230px;
            position: relative;
            padding-left: 15px;
            &::before{
                position: absolute;
                content: "";
                background: #d0cfcf;
                width: 2px;
                left: 0;
                top: 4px;
                bottom: 4px;
            }
            .header-location-src{
                .selectOption_1{
                    height: 38px;
                    font-size: 15px;
                    color: #7b7b7b;
                }
                .input-style-bnr{
                    height: 38px;
                    font-size: 15px;
                    color: #7b7b7b;
                    border: none;
                }
            }
            .location-icon{
                position: absolute;
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
                color: #ff6600;
            }
        }
    }
}
#suggesstion-restaurent-box{
    position: absolute;
    width: 100%;
    #search-result-restaurants{
        background: #fff;
        box-shadow: 6.359px 10.177px 17.43px 3.57px rgba(94, 94, 94, 0.1);
        border-radius: 10px;
        padding: 10px;
        max-height: 450px;
        overflow-y: auto;
        .select-li-restaurant{
            a{
                display: flex;
                align-items: center;
                .restaurant-search-item-img{
                    width: 40px;
                    img{
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .restaurant-search-item-title{
                    padding-left: 10px;
                    font-size: 15px;
                    color: #333333;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 600;
                }
                &:hover{
                    .restaurant-search-item-title{
                        color: #ff6600;
                    }
                }
            }
            + {
                .select-li-restaurant{
                    margin-top: 6px;
                }
            }
        }
    }
}
// Start Header Dropdown
.product-droplist{
    min-width: 450px;
    .basket-item-total{
        color: #ff6600;
        font-size: 15px;
        font-weight: 600;
    }
    .basket-item-price {
        color: #000;
        font-size: 15px;
        font-weight: 600;
    }
    .basket-product-list-wrap{
        max-height: 350px;
        overflow-y: auto;
        padding-right: 14px;
    }
    .basket-view{
        margin-top: 15px;
        text-align: center;
        .basket-view-btn{
            background: #ff6600;
            color: #fff !important;
            height: 40px;
            line-height: 40px;
            padding: 0 40px;
            font-size: 18px;
            text-align: center;
            &:hover{
                background: #000;
            }
        }
    }
    .basket-product-list{
        .basket-product-list-lft{
            flex: 0 0 115px;
            max-width: 115px;
            .basket-product-list-img{
                a{
                    display: block;
                    img{
                        max-height: 90px;
                        min-height: 90px;
                        object-fit: cover;
                    }
                }
            }
        }
        .basket-product-list-rgt{
            flex: 1 0 0%;
            padding-left: 15px;
            .basket-product-list-text{
                h4{
                    padding-bottom: 4px;
                    font-size: 15px;
                    a{
                        font-size: 15px;
                        color: #000 !important;
                        &:hover{
                            color: #ff6600 !important;
                        }
                    }
                }
                p{
                    font-size: 12px;
                    color: #858585;
                }
                .basket-qty-price{
                    .basket-qty-price-lft{
                        color: #000;
                        font-size: 15px;
                        font-weight: 600;
                    }
                    .basket-qty-price-rgt{
                        color: #000;
                        font-size: 15px;
                        font-weight: 600;
                        padding-left: 10px;
                        .qty-add-wrap{
                            .qty-add{
                                height: 20px;
                                width: 20px;
                                line-height: 20px;
                                border: 1px solid #ff6600;
                                color: #ff6600;
                                background: transparent;
                            }
                            .qty-show{
                                width: 55px;
                                border: none;
                                padding: 2px;
                                height: 19px;
                                text-align: center;
                            }
                        }
                    }
                }
                .delete-product{
                    border: none;
                    color: #ff6600;
                    background: transparent;
                }
            }
        } 
        + {
            .basket-product-list{
                padding-top: 10px;
                margin-top: 10px;
                border-top: 1px solid #d7d7d7;
            }
        } 
    }
}
.order-count {
    position: absolute;
    right: -7px;
    top: -10px;
    display: block;
    height: 23px;
    width: 23px;
    background: #ff6600;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #ff6600c0;
    }
    100% {
        box-shadow: 0 0 0 10px #027f0000;
    }
}
.hover-dropdown{
    position: relative;
    .hover-dropdown-list{
        position: absolute;
        right: 0;
        top: 80px;
        background: #fff;
        padding: 10px;
        box-shadow: 0px 0px 7.12px 0.88px rgba(0, 0, 0, 0.17);
        transition: all .2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        &::after{
            position: absolute;
            content: "\f0d8";
            font-family: "Font Awesome 5 free";
            font-weight: 900;
            top: -31px;
            right: 30px;
            font-size: 40px;
            color: #fff;
            text-shadow: 0px -4px 5px rgba(0, 0, 0, 0.06);
        }
    }
    &:hover{
        .hover-dropdown-list{
            top: 50px;
            opacity: 1;
            visibility: visible;
        }
    }
    
}
// Start Header Dropdown
