
@media only screen and (max-width: 2560px) {}

@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1660px) {}

@media only screen and (max-width: 1440px) {
    // .main-header {
    //     .logo {
    //         flex: 0 0 250px;
    //         max-width: 250px;
    //     }
    //     .login-area {
    //         flex: 0 0 250px;
    //         max-width: 250px;
    //     }
    // }
    .responsive-tabs {
        .nav-link {
            padding: 0.5rem;
            font-size: 13px;
        }
        .nav {
            .nav-item{
                &:not(:last-child) {
                    margin-right: .5rem;
                }
            }
        }
    }
    // Book table Start
    .booked-step-process-head{
            .head-booked-wrap {
                p {
                font-size: 18px;
                .person-book-select{
                    .person-select{
                        height: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
        .step-process-head-list{
            li{
                .process-head-text{
                    height: 60px;
                    width: 60px;
                    strong{
                        font-size: 12px;
                    }
                }
                &:not(:last-child){
                    &::after{
                        font-size: 20px;
                    }
                }
            }
            margin-bottom: 15px;
        }
    }
    // .booked-step-process-box {
    //     min-height: 290px;
    //     .step-box-person {
    //         height: 220px;
    //     }
    // }
    .date-pick-caln {
        max-width: 100%;
    }
    .time-pick-wrap {
        ul {
            li {
                a {
                    padding: 6px;
                }
            }
        }
    }
    .nxt-prv-btn {
        font-size: 16px;
    }
    .booked-detls {
        .booked-detls-lft {
            flex: 0 0 125px;
            max-width: 125px;
            .booked-detls-head {
                font-size: 14px;
            }
        }
        .booked-detls-rgt {
            .booked-detls-dtls{
                font-size: 14px;
            }
        }
    }
    // Book table End
}

@media only screen and (max-width: 1366px) {
    .hotel-box-wrap{
        .hotel-details{
            .book-hotel{
                li{
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .header-search-bar {
        .header-search-bar-box {
            .search-bar-rgt {
                flex: 0 0 200px;
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
    .main-header {
        .logo{
            flex: 0 0 250px;
            max-width: 250px;
        }
    }
    .header-search-bar {
        .header-search-bar-box {
            .search-bar-rgt {
                flex: 0 0 160px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    // .header-search-bar {
    //     flex: 0 0 450px;
    //     max-width: 450px;
    // }
    .hotel-box-wrap{
        .hotel-details{
            .book-hotel{
                li{
                    a{
                        font-size: 10px;
                        .btn-img{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .header-search-bar{
        position: absolute;
        top: 100%;
        padding: 15px;
        left: 0;
        background: #fff;
        flex: 1 0 0%;
        max-width: 100%;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
        display: none;
        .header-search-bar-box {
            .search-bar-rgt {
                flex: 0 0 230px;
            }
        }
    }
    .show-mobile{
        display: block;
    }
}

@media only screen and (max-width: 1204px) {}

@media only screen and (max-width: 1135px) {
    .main-header {
        .logo{
            flex: 0 0 200px;
            max-width: 200px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .left-right-gap {
        padding-left: 30px;
        padding-right: 30px;
    }
    .home-banner {
        .plate-img {
            display: none;
        }
    }
    .home-banner {
        .bannar-box {
            top: 50%;            
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .banner-text-wrap{
                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width :960px) {}

@media only screen and (max-width :910px) {}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 885px) {}

@media only screen and (max-width: 880px) {
    .header-login-mobile{
        position: relative;
        .header-menu-mobile{
            display: block !important;
        }
        .user-before-login {
            position: absolute;
        }
    }
}

@media only screen and (max-width: 800px) {
    .home-banner {
        .bannar-box {
            padding-top: 80px;
            top: 0;
            transform: translate(-50%, 0);
            left: 50%;
        }
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 767px) {
    // Mobile sort filter
    .mobile-filter {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 0.6rem 1rem;
        border: none;
        font-size: .9rem;
        text-transform: capitalize;
        border-radius: 0.4rem;
        z-index: 5;
        i{
            margin-right: .3rem;
        }
    }
    .hotel-list-wrap{
        .mobile-sort{
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 10px;
            position: fixed;
            width: calc(100% - 25%);
            left: 50%;
            z-index: 5;
            bottom: -100%;
            transform: translateX(-50%);
            transition: all 0.3s ease-in-out;
            .mobile-scroll{
                height: 300px;
                overflow-y: auto;
                padding-right: 5px;
            }
            .mobile-filter-close {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 30px;
                width: 30px;
                background: rgba(0, 0, 0, 0.6);
                color: #fff;
                border-radius: 50%;
                top: -45px;
                border: none;
            }
            &.sort_open{
                bottom: 15px;
            }
        }
    }
    .sort-popup {
        overflow: hidden;
        .modal-backdrop{
            z-index: 4;
            &.fade {
                transition: opacity 0.9s linear;
            }
        }
    }
    // Mobile sort filter
}

@media only screen and (max-width: 736px) {}

@media only screen and (max-width: 667px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 575px) {}

@media only screen and (max-width: 545px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 384px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 240px) {}